# Env
/.env


/vendor/*
/parser/*


# composer

composer.phar
## remove in production!

/storage/web/thumbs
composer.lock

# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant

!/vendor/vova07/yii2-imperavi-widget/
